*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.idea/misc.xml
.idea/
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
